body {
    height: 100%;
    width: 100%;
    padding-top: 40vh;
}

.btn {
    text-decoration: none;
    padding-bottom: 2em;
}

.btn:hover {
    color: darkblue;

}

.container {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.ui-menu {
    border: 1px solid black;
    list-style-type: none;
    padding: 0;
    width: 100px;
}

.ui-menu-item:hover {
    color: green;
}
.ui-helper-hidden-accessible {
    display: none;
}